<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>NBWebViewController</string>
	<key>https</key>
	<string>NBWebViewController</string>
	<key>bzqnormal</key>
	<dict>
		<key>bzqnormal://nbrouter/modalchildviewcontroller</key>
		<string>ModalChildViewController</string>
		<key>bzqnormal://nbrouter/pushsecondviewcontroller</key>
		<string>PushSecondViewController</string>
	</dict>
	<key>bzqxib</key>
	<dict>
		<key>bzqxib://nbrouter/xibviewcontroller</key>
		<string>XibViewController</string>
	</dict>
	<key>bzqsb</key>
	<dict>
		<key>bzqsb://nbrouter/Main.HomeTab</key>
		<string>UITabbarController</string>
		<key>bzqsb://nbrouter/Main.StoryboardViewController</key>
		<string>StoryboardViewController</string>
	</dict>
</dict>
</plist>
