<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>NBWebViewController</string>
	<key>https</key>
	<string>NBWebViewController</string>
	<key>nbrouter</key>
	<dict>
		<key>nbrouter://storyboard</key>
		<string>StoryboardViewController</string>
		<key>nbrouter://home</key>
		<string>UITabbarController</string>
		<key>nbrouter://modalchild</key>
		<string>ModalChildViewController</string>
		<key>nbrouter://pushsecond</key>
		<string>PushSecondViewController</string>
	</dict>
	<key>xibviewcontroller</key>
	<string>XibViewController</string>
</dict>
</plist>
